{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- <script src="{% static 'scripts/main.js' %}" defer></script> -->
    <title>Inventory Tracking</title>
</head>

<body class="has-navbar-fixed-top">
    <header>
        <p>This is a header</p>
    </header>

    <main>
    {% block content %}
    {% endblock %}
    </main>

    <footer class="ajs-footer-mod">
        <div class="content has-text-centered">
            <p>
                <small>Made with 💖 by Ariel Smith</small>
            </p>
        </div>
    </footer>
</body>

</html>