{% extends 'base.html' %}

{% block content %}
<div class="columns mt-6 pt-6 ml-6 mr-6">
    <div class="column is-one-third"></div>
    <div class="column is-one-third">
        <form class="box" method="POST" enctype="multipart/form-data" nonvalidate>
            {% csrf_token %}
            <h2 class="title">Are you sure you want to permanently delete this item?</h2>
            <button type="submit" class="save btn btn-secondary">YES</button>
        </form>
    </div>
    <div class="column is-one-third"></div>
</div>
{% endblock %}