{% extends 'base.html' %}


{% block content %}

<table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>ITEM</th>
        <th><abbr title="Quantity">QTY</abbr></th>
        <th>DELETION NOTES</th>
        <th>RESTORE</th>
        <th>PERMANENTLY DELETE</th>

      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>ID</th>
        <th>ITEM</th>
        <th><abbr title="Quantity">QTY</abbr></th>
        <th>DELETION NOTES</th>
        <th>RESTORE</th>
        <th>PERMANENTLY DELETE</th>
      </tr>
    </tfoot>
    <tbody>
        {% for item in items %}
            {% if item.is_deleted %}
            <tr>
                <th>{{item.pk}}</th>
                <td>{{item}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.deletion_comment}}</td>
                <td><a href="{% url 'item_restore' pk=item.pk %}">RESTORE</a></td>
                <td><a href="#">PERMANENTLY DELETE</a></td>
            </tr>
            {% endif %}
        {% endfor %}
    </tbody>
  </table>




    <!-- {% for item in items %}
        <div class="box">
            <p class="title"><a href="{% url 'item_edit' pk=item.pk %}">{{item}}</a> || {{item.quantity}}</p>
        </div>
    {% endfor %} -->

    <a href="{% url 'index' %}">Home</a>

{% endblock %}